@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.card{
 /* Complete card */
 border: 1px solid #ccc;
 padding: 10px;
 margin: 15px 0;
}
.head{
    /* Name of the user, location */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.user{
    border-radius: 50%;
    margin-top: -15px;
    margin-bottom: -15px;
}
.details{
    font-family: 'Open Sans', sans-serif;
}
.details h3{
    text-align: right;
    padding: 0;
    margin-bottom: 0;
}
.details input{
    margin-bottom: 27px;
}
.image{
    /* Image */
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    margin: auto;
    text-align: center;
}
.footer{
    /* Like, number of likes, caption */
    text-align: center;
    padding: 0 25px;
    opacity: 0.7;
}
.materialIcons{
    font-size: 1.8em;
    margin: 0 5px;
    cursor: pointer;
}
.disabled{
    cursor: unset;
    opacity: 0.6;
    margin: 0 5px;
}
.button{
    width: 90%;
    display: block;
    border-radius: 5px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: none;
    font-size: 0.9em;
    letter-spacing: 0.05em;
}
.button:hover{
    opacity: 0.8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.postButton{
    margin: -13px auto 13px auto;
    background-color: red;
}
.addButton{
    margin: 25px auto;
    background-color: black;
}
.locationInput{
    border: none;
    outline: none;
    font-weight: 400;
    text-align: right;
    color: red;
}
.captionInput{
    border: none;
    outline: none;
    border: 1px solid transparent;
    text-align: center;
    padding: 0 25px;
    width: 90%;
    font-size: 1em;
    line-height: 1.2em;
    height: 12em;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: visible;
}
.captionInput:focus{
    border: 1px solid #ccc;
}